<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.tms.homeapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sixdataice.activity.ActivityDataIce"></activity>
        <activity android:name=".fivefood.activity.DataFood" />
        <activity android:name=".fivefood.activity.ActivityFood" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".twoanimationsandflags.ActivityTwo" />
        <activity android:name=".twoanimationsandflags.Animations" />
        <activity android:name=".twoanimationsandflags.Flags" />
        <activity android:name=".threecoronavm.CoronaVirus" />
        <activity android:name=".fourflower.activity.AddFlower" />
        <activity android:name=".fourflower.activity.ActivityFlower" />
        <activity android:name=".onemyfirstapp.ActivityOne" />
        <activity android:name=".fourflower.activity.FlowerDataTop" />
        <activity android:name=".fourflower.activity.FlowerDataBottom" />
    </application>

</manifest>