<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.tms.homeapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FiveFood.activity.DataFood"></activity>
        <activity android:name=".FiveFood.activity.ActivityFood" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Two.ActivityTwo" />
        <activity android:name=".Two.Animations" />
        <activity android:name=".Two.Flags" />
        <activity android:name=".Three.CoronaVirus" />
        <activity android:name=".FourFlower.activity.AddFlower" />
        <activity android:name=".FourFlower.activity.ActivityFlower" />
        <activity android:name=".OneMyFirstApp.ActivityOne" />
        <activity android:name=".FourFlower.activity.FlowerDataTop" />
        <activity android:name=".FourFlower.activity.FlowerDataBottom" />
    </application>

</manifest>